#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        esp_remap: esp_remap {
            compatible = "zmk,behavior-esp-remap";
            #binding-cells = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp A &kp A &kp A &kp A
                &kp A &kp A &kp A &kp A &kp A
                &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A &kp A &kp A &kp A &kp A &kp A
            >;
        };
    };
};
