#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        q_green: q_green {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp Q>
                , <&macro_tap &rgb_ug RGB_ON>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(120,100,100)>
                ;
        };

        w_red: w_red {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp W>
                , <&macro_tap &rgb_ug RGB_ON>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(0,100,100)>
                ;
        };

        a_blue: a_blue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp A>
                , <&macro_tap &rgb_ug RGB_ON>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(240,100,100)>
                ;
        };

        b_yellow: b_yellow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &rgb_ug RGB_ON>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(60,100,100)>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &q_green         &w_red
                &a_blue          &b_yellow
            >;
        };
    };
};
