if SHIELD_FORCE_BLE

config ZMK_KEYBOARD_NAME
    default "ZMK-BLE"

endif

if SHIELD_FORCE_BLE_A

config ZMK_KEYBOARD_NAME
    default "ZMK-BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FORCE_BLE_A || SHIELD_FORCE_BLE_B

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif
